<header class="header">
  <div class="header__wrapper">
    <!-- <h1 class="header__title">Natalia Migallón</h1> -->
    <div class="hamburger">
      <div class="_layer -top"></div>
      <div class="_layer -mid"></div>
      <div class="_layer -bottom"></div>
    </div>
  </div>
  <nav class="header__nav">
    <ul>
      <li>
        <a class="header__nav--home" href="./index.html" title="home">Home</a>
      </li>
      <li>
        <a class="header__nav--about" href="./about.html" title="Sobre mí"
          >Sobre mí</a
        >
      </li>
      <li>
        <a
          class="header__nav--projects"
          href="./projects.html"
          title="Proyectos"
          >Proyectos</a
        >
      </li>
      <li>
        <a class="header__nav--contact" href="./contact.html" title="Contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
