<header class="header" id="arrow">
  <a href="./index.html"><img
    class="header__logo"
    src="./assets/images/favicon-nat-beige.png"
    alt="Logo Natalia Migallón"
  /></a>
  <a href="./index.html"><h1 class="header__title">Natalia Migallón</h1></a>
  <div class="hamburger">
    <div class="_layer -top"></div>
    <div class="_layer -mid"></div>
    <div class="_layer -bottom"></div>
  </div>
  <nav class="header__nav">
    <ul>
      <li>
        <a class="header__nav--home" href="./index.html" title="home">Home</a>
      </li>
      <li>
        <a class="header__nav--about" href="./about.html" title="Sobre mí"
          >Sobre mí</a
        >
      </li>
      <li>
        <a
          class="header__nav--projects"
          href="./projects.html"
          title="Proyectos"
          >Proyectos</a
        >
      </li>
      <li>
        <a class="header__nav--contact" href="./contact.html" title="Contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <nav class="header-navbar">
    <ul class="navbar">
      <li class="navbar__element">
        <a class="navbar__element--text" href="./index.html" title="home"
          >Home</a
        >
      </li>
      <li class="navbar__element">
        <a class="navbar__element--text" href="./about.html" title="Sobre mí"
          >Sobre mí</a
        >
      </li>
      <li class="navbar__element">
        <a
          class="navbar__element--text"
          href="./projects.html"
          title="Proyectos"
          >Proyectos</a
        >
      </li>
      <li class="navbar__element">
        <a class="navbar__element--text" href="./contact.html" title="Contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
