<main class="page__main">
  <div class="eye-wrapper">
    <section class="eye js-collapsed">
      <p class="eye__up">(</p>
      <a href="./about.html">
        <p class="eye__text">Sobre mí</p>
      </a>
      <p class="eye__down js-down">)</p>
    </section>
    <section class="eye js-collapsed">
      <p class="eye__up">(</p>
      <a href="./projects.html">
        <p class="eye__text">Proyectos</p>
      </a>
      <p class="eye__down js-down">)</p>
    </section>
  </div>
  <span class="nose">></span>
  <span class="mouth">}</span>
</main>
