@font-face {
  font-family: 'Times New Roman';
  src: url('http://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot'); /* IE9*/
  src: url('http://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('http://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff2')
      format('woff2'),
    /* chrome firefox */ url('http://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff')
      format('woff'),
    /* chrome firefox */ url('http://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.ttf')
      format('truetype'),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url('http://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.svg#Times New Roman')
      format('svg'); /* iOS 4.1- */
}
