@mixin flexRowFlexStart() {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
//@include flexRowFlexStart();

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
//@include flexRow();
