@mixin flexRowFlexStart() {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
//@include flexRowFlexStart();

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
//@include flexRow();

@mixin flexRowFlexEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
//@include flexRowFlexEnd();

@mixin markerSoftSkills {
  margin: 0 -4px;
  padding: 3px 4px;
  border-radius: 3px 3px;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(21, 218, 208, 0.1),
    rgb(21, 218, 208) 4%,
    rgba(21, 218, 208, 0.1)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
//@include markerSoftSkills();
