// fonts
$font-title: "Kiwi Maru", serif;
$font-label: "Kiwi Maru", serif;
$font-footer: "Kiwi Maru", serif;
$font-text: "Open Sans", sans-serif;
$font-button: "Open Sans", sans-serif;
$font-menu: "Open Sans", sans-serif;

// colors
$color-text: rgb(128, 128, 128);
$color-footer-ab-pr: rgb(21, 218, 208);
