.page-about {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../images/nat-about.png");
  background-color: rgb(253, 250, 250);
  background-size: 100%;
  background-repeat: no-repeat;
  @media all and (min-width: 600px) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/nat-about-max.png");
    background-color: rgb(253, 250, 250);
    background-size: 75%;
  }
  @media all and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/nat-about-max.png");
    background-color: rgb(253, 250, 250);
    background-size: 70%;
  }
  @media all and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/nat-about-max.png");
    background-color: rgb(253, 250, 250);
    background-size: 30%;
  }
}
.about {
  margin: 400px 0 40px 20px;
  border-width: 3px;
  border-style: solid;
  border-right: 0;
  border-image: linear-gradient(to bottom, rgb(21, 218, 208), rgba(0, 0, 0, 0))
    1 100%;
  @media all and (min-width: 600px) {
    margin: 480px 70px 80px 50px;
    border-width: 5px;
  }
  @media all and (min-width: 768px) {
    margin: 550px 80px 80px 80px;
    border-width: 5px;
  }
  @media all and (min-width: 1366px) {
    margin: 120px 80px 60px 450px;
  }
  @media all and (min-width: 1920px) {
    margin: 180px 260px 0 600px;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 13px;
    margin-top: -20px;
    @media all and (min-width: 600px) {
      padding: 0 0 0 18px;
    }
    @media all and (min-width: 768px) {
      padding: 0 0 0 30px;
      margin-top: -40px;
    }
    @media all and (min-width: 1366px) {
      margin-top: -25px;
    }
    @media all and (min-width: 1920px) {
      padding: 0 0 0 30px;
    }
    &--h1 {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      color: rgb(21, 218, 208);
      text-transform: lowercase;
      padding: 0 5px 19px 0;
      @media all and (min-width: 768px) {
        font-size: 45px;
      }
      @media all and (min-width: 1366px) {
        font-size: 50px;
      }
    }
    &--icon {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      font-weight: 800;
      color: rgb(21, 218, 208);
      -webkit-transform: rotate(90deg);
      padding: 0 7px 7px 0;
      @media all and (min-width: 1366px) {
        font-size: 50px;
      }
    }
  }
  &__cv {
    width: 100px;
    height: 38px;
    background-color: rgb(226, 175, 128);
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    padding: 0 0 3px 0;
    margin: 0 25px 18px 15px;
    cursor: pointer;
    &:hover {
      transform: scale(1.07);
    }
    @media all and (min-width: 600px) {
      margin: 0 0 16px 18px;
    }
    @media all and (min-width: 768px) {
      width: 130px;
      height: 50px;
      font-size: 23px;
      margin: 0 0 15px 30px;
    }
    @media all and (min-width: 1366px) {
      width: 110px;
      height: 35px;
      font-size: 17px;
      margin: 0 0 10px 30px;
    }
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: grey;
    padding: 0 45px 0 13px;
    line-height: 30px;
    &--adaLink {
      color: rgb(21, 218, 208);
      font-weight: 600;
    }
    @media all and (min-width: 600px) {
      padding: 0 0 0 18px;
    }
    @media all and (min-width: 768px) {
      font-size: 20px;
      line-height: 35px;
      padding: 0 0 0 30px;
    }
    @media all and (min-width: 1366px) {
      font-size: 18px;
      line-height: 35px;
      //text-align: justify;
      padding: 0 150px 0 30px;
    }
    @media all and (min-width: 1920px) {
    }
  }
  &__stack {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: rgb(226, 175, 128);
    padding: 15px 5px 8px 13px;
    @media all and (min-width: 600px) {
      font-size: 22px;
      padding: 20px 0 16px 18px;
    }
    @media all and (min-width: 768px) {
      padding: 20px 0 16px 30px;
    }
    &--text {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      color: grey;
      padding: 0 45px 8px 13px;
      line-height: 20px;
      list-style-type: square;
      list-style-position: inside;
      @media all and (min-width: 600px) {
        font-size: 18px;
        padding: 2px 0 16px 18px;
      }
      @media all and (min-width: 768px) {
        font-size: 18px;
        padding: 2px 0 16px 30px;
      }
    }
  }
  &__hard {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: rgb(226, 175, 128);
    padding: 15px 5px 8px 13px;
    @media all and (min-width: 600px) {
      font-size: 22px;
      padding: 20px 0 16px 18px;
    }
    @media all and (min-width: 768px) {
      padding: 20px 0 16px 30px;
    }
    &--icons {
      font-size: 60px;
      padding: 0 20px 50px 13px;
      align-content: center;
      @media all and (min-width: 600px) {
        padding: 0 0 16px 18px;
      }
      @media all and (min-width: 768px) {
        padding: 0 0 16px 30px;
      }
    }
  }
  &__soft {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: rgb(226, 175, 128);
    padding: 15px 5px 8px 13px;
    @media all and (min-width: 600px) {
      padding: 20px 0 16px 18px;
    }
    @media all and (min-width: 768px) {
      font-size: 22px;
      padding: 20px 0 16px 30px;
    }
    &--text {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      color: grey;
      padding: 0 45px 8px 13px;
      line-height: 20px;
      list-style-type: square;
      list-style-position: inside;
      @media all and (min-width: 600px) {
        padding: 2px 0 16px 18px;
      }
    }
  }
  &__arrow {
    position: fixed;
    z-index: 1002;
    bottom: 120px;
    right: -8px;
    font-size: 30px;
    color: rgb(21, 218, 208);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    text-decoration: none;
    list-style-type: none;
    @media all and (min-width: 768px) {
      font-size: 40px;
      margin-right: 35px;
      bottom: 165px;
    }
    @media all and (min-width: 1366px) {
      margin-right: 180px;
      bottom: 180px;
    }
    @media all and (min-width: 1920px) {
      display: none;
    }
  }
}
.fa-html5 {
  color: rgb(255, 0, 0);
}
.fa-css3-alt {
  color: rgb(24, 117, 238);
}
.fa-sass {
  color: rgb(238, 24, 113);
}
.fa-gulp {
  color: rgb(212, 34, 72);
}
.fa-js-square {
  color: rgb(251, 255, 0);
}
.fa-react {
  color: rgb(0, 255, 242);
}
.fa-bootstrap {
  color: rgb(76, 0, 255);
}
.fa-node {
  color: rgb(54, 216, 39);
}
.fa-git-alt {
  color: rgb(255, 123, 0);
}
