.page-about {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../images/nat-about.png");
  background-color: rgb(253, 250, 250);
  background-size: 100%;
  background-repeat: no-repeat;
}
.about {
  margin-top: 418px;
  border-width: 3px;
  border-style: solid;
  border-right: 0;
  border-image: linear-gradient(to bottom, rgb(21, 218, 208), rgba(0, 0, 0, 0))
    1 100%;
  margin-left: 20px;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 13px;
    &--h1 {
      //transform: matrix(1, 0, 0, 1, 0, 0);
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      color: rgb(21, 218, 208);
      text-transform: lowercase;
      padding: 0 5px 19px 0;
    }
    &--icon {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      font-weight: 800;
      color: rgb(21, 218, 208);
      -webkit-transform: rotate(90deg);
      padding: 0 7px 7px 0;
    }
  }
  &__cv {
    width: 150px;
    height: 38px;
    background-color: rgb(226, 175, 128);
    //opacity: 0.87;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: rgb(83, 78, 78);
    padding: 0 0 3px 0;
    margin: 0 25px 18px 15px;
    cursor: pointer;
  }
  // &__cv2 {
  //   font-family: "Kiwi Maru", serif;
  //   font-size: 22px;
  //   font-weight: 300;
  //   color: rgb(226, 175, 128);
  //   text-decoration: underline 2px;
  //   padding: 0 0 20px 15px;
  // }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: grey;
    padding: 0 25px 42px 15px;
  }
}
