.page-about {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../images/nat-about.png");
  background-color: rgb(253, 250, 250);
  background-size: 100%;
  background-repeat: no-repeat;
  @media all and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/nat-about-max.png");
    background-color: rgb(253, 250, 250);
    background-size: 60%;
  }
  @media all and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/nat-about-max.png");
    background-color: rgb(253, 250, 250);
    background-size: 30%;
  }
}
.about {
  margin: 400px 0 40px 20px;
  border-width: 3px;
  border-style: solid;
  border-right: 0;
  border-image: linear-gradient(to bottom, rgb(21, 218, 208), rgba(0, 0, 0, 0))
    1 100%;
  @media all and (min-width: 768px) {
    margin: 650px 80px 80px 80px;
    border-width: 5px;
  }
  @media all and (min-width: 1024px) {
    margin: 320px 80px 140px 400px;
    border-width: 5px;
  }
  @media all and (min-width: 1200px) {
    margin: 320px 80px 140px 600px;
    border-width: 5px;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 13px;
    margin-top: -20px;
    @media all and (min-width: 768px) {
      padding: 0 0 0 30px;
      margin-top: -40px;
    }
    @media all and (min-width: 1200px) {
      padding: 0 0 0 30px;
    }
    &--h1 {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      color: rgb(21, 218, 208);
      text-transform: lowercase;
      padding: 0 5px 19px 0;
      @media all and (min-width: 768px) {
        font-size: 60px;
      }
      @media all and (min-width: 1200px) {
        font-size: 50px;
      }
    }
    &--icon {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      font-weight: 800;
      color: rgb(21, 218, 208);
      -webkit-transform: rotate(90deg);
      padding: 0 7px 7px 0;
      @media all and (min-width: 768px) {
        font-size: 60px;
      }
      @media all and (min-width: 1200px) {
        font-size: 50px;
      }
    }
  }
  &__cv {
    width: 150px;
    height: 38px;
    background-color: rgb(226, 175, 128);
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    padding: 0 0 3px 0;
    margin: 0 25px 18px 15px;
    cursor: pointer;
    &:hover {
      transform: scale(1.07);
    }
    @media all and (min-width: 768px) {
      width: 210px;
      height: 50px;
      font-size: 25px;
      margin: 0 0 0 30px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
      height: 35px;
      font-size: 17px;
      margin: 0 0 10px 30px;
    }
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: grey;
    padding: 0 25px 0 13px;
    line-height: 30px;
    &--adaLink {
      color: rgb(21, 218, 208);
      font-weight: 600;
    }
    @media all and (min-width: 768px) {
      font-size: 25px;
      line-height: 40px;
      text-align: justify;
      padding: 0 0 0 30px;
    }
    @media all and (min-width: 1200px) {
      font-size: 20px;
      line-height: 40px;
      text-align: justify;
      padding: 0 300px 0 30px;
    }
  }
}
