.page-about {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../images/nat-about-max.png");
  background-color: $color-background-white;
  background-size: 80%;
  background-repeat: no-repeat;
  @media all and (min-width: 600px) {
    background-size: 75%;
  }
  @media all and (min-width: 768px) {
    background-size: 70%;
  }
  @media all and (min-width: 1200px) {
    background-size: 30%;
  }
}
.about {
  margin: 340px 0 0 20px;
  border-width: 3px;
  border-style: solid;
  border-right: 0;
  border-image: linear-gradient(to bottom, rgb(21, 218, 208), rgba(0, 0, 0, 0))
    1 100%;
  @media all and (min-width: 600px) {
    margin: 480px 70px 80px 50px;
    border-width: 5px;
  }
  @media all and (min-width: 768px) {
    margin: 550px 80px 80px 80px;
  }
  @media all and (min-width: 1366px) {
    margin: 120px 80px 60px 450px;
  }
  @media all and (min-width: 1920px) {
    margin: 180px 260px 0 600px;
  }
  &__title {
    @include flexRowFlexStart();
    padding: 0 0 0 13px;
    margin-top: -20px;
    @media all and (min-width: 600px) {
      padding: 0 0 0 18px;
    }
    @media all and (min-width: 768px) {
      padding: 0 0 0 30px;
      margin-top: -40px;
    }
    @media all and (min-width: 1366px) {
      margin-top: -25px;
    }
    &--h1 {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      color: $color-title-about;
      text-transform: lowercase;
      padding: 0 5px 19px 0;
      @media all and (min-width: 768px) {
        font-size: 45px;
      }
      @media all and (min-width: 1366px) {
        font-size: 45px;
      }
      @media all and (min-width: 1920px) {
        font-size: 50px;
      }
    }
    &--icon {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      font-weight: 800;
      color: $color-title-about;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
      padding: 0 7px 7px 0;
      @media all and (min-width: 1366px) {
        font-size: 45px;
      }
      @media all and (min-width: 1920px) {
        font-size: 50px;
      }
    }
  }
  &__text {
    font-family: $font-text;
    font-size: 18px;
    color: $color-text;
    padding: 0 45px 0 13px;
    line-height: 30px;
    @media all and (min-width: 600px) {
      padding: 0 0 0 18px;
      text-align: justify;
    }
    @media all and (min-width: 768px) {
      font-size: 20px;
      line-height: 35px;
      padding: 0 0 0 30px;
    }
    @media all and (min-width: 1366px) {
      font-size: 18px;
      line-height: 35px;
      padding: 0 150px 0 30px;
    }
    &--adaLink {
      color: $color-links;
      font-weight: 600;
      &:hover {
        color: $color-links-hover;
        text-decoration: underline;
      }
    }
    &--cv {
      color: $color-links;
      font-weight: 600;
      &:hover {
        color: $color-links-hover;
      }
    }
    &--cv-icon {
      color: $color-links;
      font-size: 27px;
      &:hover {
        transform: scale(1.07);
        color: $color-links-hover;
      }
    }
    &--form {
      color: $color-links;
      font-weight: 600;
      &:hover {
        color: $color-links-hover;
      }
    }
    &--email {
      color: $color-links;
      font-weight: 600;
      &:hover {
        color: $color-links-hover;
      }
    }
    &--email-icon {
      color: $color-links;
      font-size: 22px;
      font-weight: 600;
      &:hover {
        transform: scale(1.07);
        color: $color-links-hover;
      }
    }
  }
  &__tech {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 151px 0 0 52px;
    font-family: $font-text;
    font-size: 15px;
    line-height: 20px;
    @media all and (min-width: 600px) {
      margin: 180px 0 0 120px;
    }
    @media all and (min-width: 768px) {
      margin: 180px 0 0 170px;
    }
    @media all and (min-width: 1366px) {
      margin: 150px 0 0 70px;
    }
    @media all and (min-width: 1920px) {
      margin: 168px 150px 0 100px;
    }
    .deg0_ {
      transform: rotate(1deg) translate(-30px) rotate(-1deg);
      @media all and (min-width: 1366px) {
        transform: rotate(3deg) translate(-37px) rotate(-3deg);
      }
      @media all and (min-width: 1920px) {
        transform: rotate(6deg) translate(-30px) rotate(-6deg);
      }
    }
    .deg40 {
      transform: rotate(40deg) translate(-110px) rotate(-40deg);
      @media all and (min-width: 1920px) {
        transform: rotate(50deg) translate(-120px) rotate(-50deg);
      }
    }
    .deg80 {
      transform: rotate(58deg) translate(-151px) rotate(-58deg);
      @media all and (min-width: 1920px) {
        transform: rotate(70deg) translate(-135px) rotate(-70deg);
      }
    }
    .deg120 {
      transform: rotate(120deg) translate(-227px) rotate(-120deg);
      @media all and (min-width: 1920px) {
        transform: rotate(135deg) translate(-240px) rotate(-135deg);
      }
    }
    .deg160 {
      transform: rotate(134deg) translate(-189px) rotate(-134deg);
      @media all and (min-width: 1920px) {
        transform: rotate(145deg) translate(-170px) rotate(-145deg);
      }
    }
    .deg200 {
      transform: rotate(141deg) translate(-97px) rotate(-141deg);
      @media all and (min-width: 1920px) {
        transform: rotate(155deg) translate(-218px) rotate(-155deg);
      }
    }
    .deg240 {
      transform: rotate(99deg) translate(-49px) rotate(-99deg);
      @media all and (min-width: 1920px) {
        transform: rotate(140deg) translate(-85px) rotate(-140deg);
      }
    }
    .deg280 {
      transform: rotate(332deg) translate(45px) rotate(-332deg);
      @media all and (min-width: 1920px) {
        transform: rotate(90deg) translate(-145px) rotate(-90deg);
      }
    }
    .deg320 {
      transform: rotate(320deg) translate(82px) rotate(-320deg);
      @media all and (min-width: 1920px) {
        transform: rotate(87deg) translate(-115px) rotate(-87deg);
      }
    }
    &.about__tech p {
      display: block;
      position: absolute;
      top: -4%;
      left: 19%;
    }
    &--center_ {
      font-family: "Kiwi Maru", serif;
      font-size: 20px;
      font-weight: 600;
      color: $color-text;
      text-align: center;
      text-transform: uppercase;
      transform: translate(15px);
    }
    &--icons {
      display: inline-block;
      font-size: 40px;
      padding: 10px;
      align-content: center;
      text-align: center;
      @media all and (min-width: 1920px) {
        font-size: 50px;
      }
    }
    .fa-html5 {
      color: rgb(255, 0, 0);
    }
    .fa-css3-alt {
      color: rgb(24, 117, 238);
    }
    .fa-sass {
      color: rgb(238, 24, 113);
    }
    .fa-bootstrap {
      color: rgb(76, 0, 255);
    }
    .fa-js-square {
      color: rgb(243, 247, 18);
    }
    .fa-node {
      color: rgb(54, 216, 39);
    }
    .fa-gulp {
      color: rgb(212, 34, 72);
    }
    .fa-react {
      color: rgb(0, 255, 242);
    }
    .fa-git-alt {
      color: rgb(255, 123, 0);
    }
  }
  &__soft {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 0 47px 76px;
    font-family: $font-text;
    font-size: 15px;
    font-weight: 600;
    color: $color-text;
    line-height: 20px;
    @media all and (min-width: 600px) {
      margin: 0 0 0 150px;
    }
    @media all and (min-width: 768px) {
      margin: 0 0 0 200px;
    }
    @media all and (min-width: 1366px) {
      margin: 60px 100px 0 200px;
    }
    @media all and (min-width: 1920px) {
      margin: 80px 100px 0 100px;
      font-size: 18px;
    }
    .deg0 {
      transform: translate(109px);
      @include markerSoftSkills();
    }
    .deg45 {
      transform: rotate(45deg) translate(-106px) rotate(-45deg);
      @include markerSoftSkills();
    }
    .deg135 {
      transform: rotate(135deg) translate(-85px) rotate(-135deg);
      @include markerSoftSkills();
    }
    .deg180 {
      transform: translate(-110px);
      @include markerSoftSkills();
    }
    .deg225 {
      transform: rotate(225deg) translate(-109px) rotate(-225deg);
      @include markerSoftSkills();
    }
    .deg315 {
      transform: rotate(315deg) translate(-100px) rotate(-315deg);
      @include markerSoftSkills();
      @media all and (min-width: 1366px) {
        transform: rotate(315deg) translate(-106px) rotate(-315deg);
      }
    }
    &.about__soft p {
      display: block;
      position: absolute;
      top: 39%;
      left: 25%;
    }
    &--center {
      font-family: "Kiwi Maru", serif;
      font-size: 20px;
      font-weight: 600;
      color: $main-color-orange;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__arrow {
    position: fixed;
    z-index: 1002;
    bottom: 120px;
    right: -8px;
    font-size: 30px;
    color: $color-links;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    &:hover {
      transform: scale(1.07);
      color: $color-links-hover;
    }
    @media all and (min-width: 768px) {
      font-size: 40px;
      margin-right: 35px;
      bottom: 165px;
    }
    @media all and (min-width: 1366px) {
      margin-right: 130px;
      bottom: 180px;
    }
    @media all and (min-width: 1920px) {
      display: none;
    }
  }
}
.wrapper-tech-soft {
  @media all and (min-width: 600px) {
  }
  @media all and (min-width: 768px) {
  }
  @media all and (min-width: 1366px) {
    display: flex;
    flex-direction: row;
  }
  @media all and (min-width: 1920px) {
    display: flex;
    flex-direction: row;
  }
}
