.page-projects {
  background-color: #fff;
  background-image: linear-gradient(#f6f6f6 0.1em, transparent 0.1em);
  background-size: 100% 25px;
}
.projects {
  margin: 100px 0 40px 20px;
  border-width: 3px;
  border-style: solid;
  border-right: 0;
  border-image: linear-gradient(to bottom, rgb(21, 218, 208), rgba(0, 0, 0, 0))
    1 100%;
  @media all and (min-width: 768px) {
    margin: 200px 80px 80px 80px;
    border-width: 5px;
  }
  @media all and (min-width: 1200px) {
    margin: 120px 80px 140px 300px;
    border-width: 5px;
  }
  // &__photo {
  //   width: 100vw;
  //   margin-top: -48px;
  //   opacity: 0.65;
  // }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 13px;
    margin-top: -20px;
    @media all and (min-width: 768px) {
      padding: 0 0 0 30px;
      margin-top: -40px;
    }
    @media all and (min-width: 1200px) {
      padding: 0 0 0 30px;
    }
    &--h1 {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      color: rgb(21, 218, 208);
      color: rgb(226, 175, 128);
      text-transform: lowercase;
      padding: 0 5px 19px 0;
      @media all and (min-width: 768px) {
        font-size: 60px;
      }
      @media all and (min-width: 1200px) {
        font-size: 50px;
      }
    }
    &--icon {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      font-weight: 800;
      color: rgb(226, 175, 128);
      -webkit-transform: rotate(90deg);
      padding: 0 7px 7px 0;
      @media all and (min-width: 768px) {
        font-size: 60px;
      }
      @media all and (min-width: 1200px) {
        font-size: 50px;
      }
    }
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: grey;
    padding: 0 25px 10px 15px;
    margin-top: 7px;
    @media all and (min-width: 768px) {
      padding: 0 0 17px 30px;
      font-size: 25px;
      line-height: 40px;
      text-align: justify;
    }
    @media all and (min-width: 1200px) {
      font-size: 20px;
      line-height: 40px;
      text-align: justify;
      padding: 0 400px 17px 30px;
    }
  }
  &__image {
    width: 200px;
    padding: 0 25px 0 15px;
    @media all and (min-width: 768px) {
      width: 400px;
      padding: 30px 25px 10px 30px;
    }
    @media all and (min-width: 1200px) {
      width: 350px;
    }
  }
  &__title-works {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: rgb(21, 218, 208);
    padding: 0 25px 0 15px;
    @media all and (min-width: 768px) {
      font-size: 40px;
      line-height: 55px;
      padding: 0 0 0 30px;
    }
    @media all and (min-width: 1200px) {
      font-size: 35px;
    }
  }
  &__tools {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(226, 175, 128);
    padding: 0 25px 0 15px;
    margin-top: 5px;
    @media all and (min-width: 768px) {
      font-size: 27px;
      line-height: 55px;
      padding: 0 0 0 30px;
    }
    @media all and (min-width: 1200px) {
      font-size: 23px;
    }
  }
  &__btn-web {
    width: 50px;
    height: 28px;
    background-color: grey;
    opacity: 0.87;
    border-radius: 5px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: 0 2px 45px 15px;
    @media all and (min-width: 768px) {
      border-radius: 9px;
      width: 97px;
      height: 57px;
      font-size: 30px;
      letter-spacing: 3px;
      margin: 0 12px 45px 30px;
    }
    @media all and (min-width: 1200px) {
      border-radius: 7px;
      width: 67px;
      height: 37px;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  &__btn-code {
    width: 80px;
    height: 28px;
    background-color: grey;
    opacity: 0.87;
    border-radius: 5px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: 0 5px 55px 5px;
    @media all and (min-width: 768px) {
      border-radius: 9px;
      width: 155px;
      height: 57px;
      font-size: 30px;
      letter-spacing: 1px;
    }
    @media all and (min-width: 1200px) {
      border-radius: 7px;
      width: 110px;
      height: 37px;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  &__arrow {
    font-size: 30px;
    color: rgb(21, 218, 208);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    @media all and (min-width: 768px) {
      font-size: 37px;
    }
    @media all and (min-width: 1200px) {
      font-size: 50px;
      margin-right: 200px;
    }
  }
}
