.page-projects {
  // background-image: linear-gradient(rgb(226, 175, 128), rgb(83, 78, 78) 5%);
  // background-repeat: no-repeat;
  //background-color: rgb(83, 78, 78);
  background-color: #fff;
  //background-image: linear-gradient(#f6f6f6 0.1em, transparent 0.1em);
  background-image: linear-gradient(#f6f6f6 0.1em, transparent 0.1em);
  // background-size: 100% 1.2em;
  background-size: 100% 25px;
}
.projects {
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 0 35px;
    &--h1 {
      //transform: matrix(1, 0, 0, 1, 0, 0);
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      color: rgb(21, 218, 208);
      color: rgb(226, 175, 128);
      text-transform: lowercase;
      padding: 0 5px 19px 0;
    }
    &--icon {
      font-family: "Kiwi Maru", serif;
      font-size: 40px;
      font-weight: 800;
      color: rgb(226, 175, 128);
      -webkit-transform: rotate(90deg);
      padding: 0 7px 7px 0;
    }
  }
  &__line {
    border-width: 3px;
    border-style: solid;
    border-right: 0;
    border-image: linear-gradient(
        to bottom,
        rgb(21, 218, 208),
        rgba(0, 0, 0, 0)
      )
      1 100%;
    margin-left: 20px;
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: grey;
    padding: 0 25px 10px 15px;
    margin-top: 7px;
  }
  &__image {
    width: 200px;
    padding: 0 25px 0 15px;
  }
  &__title-works {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: rgb(21, 218, 208);
    padding: 0 25px 0 15px;
  }
  &__tools {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(226, 175, 128);
    padding: 0 25px 0 15px;
    margin-top: 5px;
  }
  &__btn-web {
    width: 50px;
    height: 28px;
    background-color: grey;
    opacity: 0.87;
    border-radius: 5px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: 0 2px 45px 15px;
  }
  &__btn-code {
    width: 80px;
    height: 28px;
    background-color: grey;
    opacity: 0.87;
    border-radius: 5px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: 0 5px 55px 5px;
  }
}
