html {
  scroll-behavior: smooth;
}
.page-projects {
  background-color: $color-background-white;
  background-image: linear-gradient(rgb(246, 246, 246) 2px, transparent 2px);
  background-size: 100% 25px;
}
.projects {
  margin: 100px 0 40px 20px;
  border-width: 3px;
  border-style: solid;
  border-right: 0;
  border-image: linear-gradient(to bottom, rgb(21, 218, 208), rgba(0, 0, 0, 0))
    1 100%;
  @media all and (min-width: 600px) {
    margin: 80px 70px 80px 50px;
    border-width: 5px;
  }
  @media all and (min-width: 768px) {
    margin: 110px 80px 80px 80px;
    border-width: 5px;
  }
  @media all and (min-width: 1366px) {
    margin: 120px 80px 60px 310px;
  }
  @media all and (min-width: 1920px) {
    margin: 120px 80px 60px 550px;
  }
  &__title {
    @include flexRowFlexStart();
    padding: 0 0 0 13px;
    margin-top: -20px;
    @media all and (min-width: 768px) {
      padding: 0 0 0 30px;
      margin-top: -25px;
    }
    @media all and (min-width: 1366px) {
      margin-top: -25px;
    }
    &--h1 {
      font-family: $font-title;
      font-size: 40px;
      color: $color-title-projects;
      text-transform: lowercase;
      padding: 0 5px 19px 0;
      @media all and (min-width: 1366px) {
        font-size: 45px;
      }
      @media all and (min-width: 1920px) {
        font-size: 50px;
      }
    }
    &--icon {
      font-family: $font-title;
      font-size: 40px;
      font-weight: 800;
      color: $color-title-projects;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      padding: 0 7px 7px 0;
      @media all and (min-width: 1366px) {
        font-size: 45px;
      }
      @media all and (min-width: 1920px) {
        font-size: 50px;
      }
    }
  }
  &__text {
    font-family: $font-text;
    font-size: 18px;
    line-height: 27px;
    color: $color-text;
    padding: 0 45px 10px 15px;
    margin-top: 7px;
    @media all and (min-width: 600px) {
      padding: 0 0 17px 30px;
      font-size: 22px;
      line-height: 40px;
      text-align: justify;
    }
    @media all and (min-width: 768px) {
      padding: 0 0 17px 30px;
      font-size: 25px;
      line-height: 40px;
    }
    @media all and (min-width: 1366px) {
      padding: 0 400px 17px 30px;
      font-size: 18px;
      line-height: 40px;
      text-align: justify;
    }
  }
  &__image {
    width: 200px;
    padding: 0 25px 0 15px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    &:hover {
      transform: scale(1.03);
    }
    @media all and (min-width: 600px) {
      width: 320px;
      padding: 30px 25px 10px 30px;
    }
    @media all and (min-width: 768px) {
      width: 350px;
    }
    @media all and (min-width: 1366px) {
      width: 300px;
    }
    @media all and (min-width: 1920px) {
      width: 350px;
    }
  }
  &__title-works {
    font-family: $font-title;
    font-size: 20px;
    color: $color-links;
    padding: 0 25px 0 15px;
    @media all and (min-width: 600px) {
      font-size: 35px;
      line-height: 55px;
      padding: 0 0 0 30px;
    }
    @media all and (min-width: 1366px) {
      font-size: 30px;
    }
    @media all and (min-width: 1920px) {
      font-size: 35px;
    }
  }
  &__tools {
    font-family: $font-text;
    font-size: 15px;
    font-weight: 700;
    color: $color-title-projects;
    padding: 0 40px 0 15px;
    margin-top: 5px;
    @media all and (min-width: 600px) {
      font-size: 23px;
      line-height: 55px;
      padding: 0 0 0 30px;
    }
    @media all and (min-width: 1366px) {
      font-size: 20px;
      padding: 0 250px 0 30px;
    }
    @media all and (min-width: 1920px) {
      font-size: 23px;
      line-height: 55px;
    }
  }
  &__btn-web {
    width: 50px;
    height: 28px;
    background-color: $color-text;
    opacity: 0.87;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    font-family: $font-button;
    font-size: 15px;
    text-transform: uppercase;
    color: $color-font-white;
    margin: 0 2px 45px 15px;
    &:hover {
      transform: scale(1.07);
      color: $color-links;
    }
    @media all and (min-width: 600px) {
      border-radius: 7px;
      width: 77px;
      height: 47px;
      font-size: 23px;
      letter-spacing: 2px;
      margin: 0 12px 45px 30px;
    }
    @media all and (min-width: 1366px) {
      width: 67px;
      height: 37px;
      font-size: 20px;
    }
  }
  &__btn-code {
    width: 80px;
    height: 28px;
    background-color: $color-text;
    opacity: 0.87;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    font-family: $font-button;
    font-size: 15px;
    text-transform: uppercase;
    color: $color-font-white;
    margin: 0 5px 55px 5px;
    &:hover {
      transform: scale(1.07);
      color: $color-links;
    }
    @media all and (min-width: 600px) {
      border-radius: 7px;
      width: 120px;
      height: 47px;
      font-size: 23px;
      letter-spacing: 1px;
    }
    @media all and (min-width: 1366px) {
      width: 110px;
      height: 37px;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  &__arrow {
    position: fixed;
    z-index: 1002;
    bottom: 120px;
    right: -8px;
    font-size: 30px;
    color: $color-links;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    &:hover {
      transform: scale(1.07);
      color: $color-links-hover;
    }
    @media all and (min-width: 768px) {
      font-size: 40px;
      margin-right: 35px;
      bottom: 165px;
    }
    @media all and (min-width: 1366px) {
      margin-right: 260px;
      bottom: 180px;
    }
    @media all and (min-width: 1920px) {
      margin-right: 330px;
      bottom: 160px;
    }
  }
}
