.page-home .footer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 84px;
  color: white;
  @media all and (min-width: 768px) {
    margin-top: 250px;
  }
  @media all and (min-width: 1200px) {
    font-size: 70px;
  }
  &__contact {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: white;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
    @media all and (min-width: 1200px) {
      font-size: 70px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .icons {
      font-size: 30px;
      color: white;
      padding: 10px 17px;
      @media all and (min-width: 768px) {
        font-size: 45px;
      }
      @media all and (min-width: 1200px) {
        font-size: 70px;
      }
    }
  }
  &__copy {
    font-family: "Kiwi Maru", serif;
    font-size: 13px;
    color: white;
    @media all and (min-width: 768px) {
      font-size: 20px;
      padding-bottom: 50px;
    }
    @media all and (min-width: 1200px) {
      font-size: 70px;
    }
  }
}
.page-about .footer {
  position: absolute;
  z-index: 999;
  margin-top: -60px;
  background-color: rgb(21, 218, 208);
  opacity: 0.68;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  &__contact {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: white;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    .icons {
      font-size: 30px;
      color: white;
      padding: 10px 17px;
    }
  }
  &__copy {
    font-family: "Kiwi Maru", serif;
    font-size: 13px;
    color: white;
  }
}
.page-projects .footer {
  background-color: rgb(21, 218, 208);
  opacity: 0.68;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  &__contact {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: white;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    .icons {
      font-size: 30px;
      color: white;
      padding: 10px 17px;
    }
  }
  &__copy {
    font-family: "Kiwi Maru", serif;
    font-size: 13px;
    color: white;
  }
}
