.page-home .footer {
  background-color: transparent;
  text-align: center;
  color: white;
  padding: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  @media all and (min-width: 600px) {
    padding: 22px;
  }
  @media all and (min-width: 1366px) {
    padding: 18px;
  }
  &__wrapper {
    @include flexRow();
    .icons {
      font-size: 30px;
      color: white;
      padding: 0 10px 10px 10px;
      &:hover {
        transform: scale(1.07);
      }
      @media all and (min-width: 768px) {
        font-size: 40px;
        padding: 0 17px 10px 17px;
      }
      @media all and (min-width: 1366px) {
        font-size: 27px;
        padding: 0 12px 10px 12px;
      }
      @media all and (min-width: 1920px) {
        font-size: 33px;
      }
    }
  }
  &__copy {
    font-family: $font-footer;
    font-size: 13px;
    color: white;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
    @media all and (min-width: 1366px) {
      font-size: 13px;
      padding: 0 12px 5px 12px;
    }
    @media all and (min-width: 1920px) {
      font-size: 16px;
    }
  }
}
.page-about .footer {
  background-color: rgb(21, 218, 208);
  text-align: center;
  padding: 12px;
  @media all and (min-width: 600px) {
    padding: 22px;
  }
  &__wrapper {
    @include flexRow();
    color: white;
    .icons {
      font-size: 30px;
      color: white;
      padding: 0 10px 10px 10px;
      &:hover {
        transform: scale(1.07);
      }
      @media all and (min-width: 768px) {
        font-size: 40px;
        padding: 0 17px 10px 17px;
      }
      @media all and (min-width: 1366px) {
        font-size: 33px;
      }
    }
  }
  &__copy {
    font-family: $font-footer;
    font-size: 13px;
    color: white;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
    @media all and (min-width: 1366px) {
      font-size: 16px;
    }
  }
}
.page-projects .footer {
  background-color: rgb(21, 218, 208);
  text-align: center;
  padding: 12px;
  @media all and (min-width: 600px) {
    padding: 22px;
  }
  &__wrapper {
    @include flexRow();
    color: white;
    .icons {
      font-size: 30px;
      color: white;
      padding: 0 10px 10px 10px;
      &:hover {
        transform: scale(1.07);
      }
      @media all and (min-width: 768px) {
        font-size: 40px;
        padding: 0 17px 10px 17px;
      }
      @media all and (min-width: 1366px) {
        font-size: 33px;
      }
    }
  }
  &__copy {
    font-family: $font-footer;
    font-size: 13px;
    color: white;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
    @media all and (min-width: 1366px) {
      font-size: 16px;
    }
  }
}
.page-contact .footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  @media all and (min-width: 600px) {
    padding: 22px;
  }
  @media all and (min-width: 1920px) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__wrapper {
    @include flexRow();
    color: white;
    .icons {
      font-size: 30px;
      color: rgb(21, 218, 208);
      padding: 0 10px 10px 10px;
      &:hover {
        transform: scale(1.07);
      }
      @media all and (min-width: 768px) {
        font-size: 40px;
        padding: 0 17px 10px 17px;
      }
      @media all and (min-width: 1366px) {
        font-size: 33px;
      }
    }
  }
  &__copy {
    font-family: $font-footer;
    font-size: 13px;
    color: rgb(226, 175, 128);
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
    @media all and (min-width: 1366px) {
      font-size: 16px;
    }
  }
}
