.header {
  @include flexRow();
  @media all and (min-width: 1366px) {
    @include flexRowFlexEnd();
    background-color: transparent;
  }
  &__logo {
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 30px;
    @media all and (min-width: 768px) {
      top: 23px;
      right: 33px;
    }
    @media all and (min-width: 1200px) {
      top: 22px;
      left: 200px;
    }
    @media all and (min-width: 1366px) {
      top: 24px;
      left: 200px;
    }
    @media all and (min-width: 1920px) {
      left: 298px;
    }
  }
  &__title {
    display: none;
    @media all and (min-width: 1200px) {
      position: absolute;
      left: 250px;
      top: 18px;
      display: inline-block;
      font-family: $font-title;
      font-weight: 500;
      font-size: 25px;
      color: $color-menu-hamb;
      padding-right: 50px;
    }
    @media all and (min-width: 1920px) {
      left: 340px;
    }
  }
  & .navbar {
    &__element {
      display: none;
      @media all and (min-width: 600px) {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        top: 30px;
        right: 20px;
      }
      @media all and (min-width: 768px) {
        top: 20px;
      }
      @media all and (min-width: 1200px) {
        right: -212px;
      }
      @media all and (min-width: 1366px) {
        right: 200px;
      }
      @media all and (min-width: 1920px) {
        right: 298px;
      }
      &--text {
        &:hover {
          text-decoration: underline;
        }
        @media all and (min-width: 600px) {
          padding: 8px 16px;
          font-family: $font-menu;
          font-size: 20px;
          color: $color-menu-sect;
          text-decoration: none;
          list-style-type: none;
        }
        @media all and (min-width: 768px) {
          font-size: 25px;
        }
      }
    }
  }
}
.page-contact .header {
  @include flexRow();
  background-color: $color-background-white;
  height: 80px;
  @media all and (min-width: 1366px) {
    @include flexRowFlexEnd();
    height: 75px;
  }
  &__logo {
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 30px;
    @media all and (min-width: 768px) {
      top: 23px;
      right: 33px;
    }
    @media all and (min-width: 1366px) {
      top: 24px;
      left: 200px;
    }
    @media all and (min-width: 1920px) {
      left: 298px;
    }
  }
  &__title {
    display: none;
    @media all and (min-width: 1200px) {
      position: absolute;
      left: 250px;
      top: 18px;
      display: inline-block;
      font-family: $font-title;
      font-weight: 500;
      font-size: 25px;
      color: $color-menu-hamb;
      padding-right: 50px;
    }
    @media all and (min-width: 1366px) {
      position: absolute;
      left: 250px;
      top: 18px;
      display: inline-block;
      font-family: $font-title;
      font-weight: 500;
      font-size: 25px;
      color: $color-menu-hamb;
      padding-right: 50px;
    }
    @media all and (min-width: 1920px) {
      left: 340px;
    }
  }
  & .navbar {
    &__element {
      display: none;
      @media all and (min-width: 600px) {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        top: 20px;
        right: 20px;
      }
      @media all and (min-width: 1200px) {
        right: -212px;
      }
      @media all and (min-width: 1366px) {
        right: 200px;
      }
      @media all and (min-width: 1920px) {
        right: 298px;
      }
      &--text {
        @media all and (min-width: 1366px) {
          padding: 8px 16px;
          font-family: $font-menu;
          font-size: 25px;
          color: $color-menu-sect;
        }
      }
    }
  }
}
.hamburger {
  position: absolute;
  left: 0;
  top: 15px;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media all and (min-width: 600px) {
    display: none;
  }
}
.page-projects ._layer {
  background: $color-menu-hamb;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 38px;
  height: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.page-contact ._layer {
  background: $color-menu-hamb;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 38px;
  height: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.page-about ._layer {
  background: $color-menu-hamb;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 38px;
  height: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger.is-active .-top {
  -webkit-transform: translateY(290%) rotate(45deg) !important;
  -ms-transform: translateY(290%) rotate(45deg) !important;
  transform: translateY(290%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-290%) rotate(135deg) !important;
  -ms-transform: translateY(-290%) rotate(135deg) !important;
  transform: translateY(-290%) rotate(135deg) !important;
}
.header__nav.is_active {
  transform: translate3d(0px, 0px, 0px);
}
.header__nav {
  position: absolute;
  top: 60px;
  left: 20px;
  transform: translate3d(0px, -180%, 0px);
  z-index: 1001;
  background-color: $color-background-white;
  width: 180px;
  height: 218px;
  padding: 5px 0 0 15px;
  border-radius: 5px;
  border: solid 2px rgb(180, 180, 180);
  margin-top: 20px;
}
.header__nav ul li a {
  font-family: $font-menu;
  font-size: 20px;
  color: $color-menu-sect;
  line-height: 50px;
}
