.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media all and (min-width: 768px) {
  }
  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
  }
  &__logo {
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 30px;
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
      top: 24px;
      left: 200px;
    }
  }
  &__title {
    display: none;
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
      position: absolute;
      left: 250px;
      top: 18px;
      display: inline-block;
      font-family: "Kiwi Maru", serif;
      font-weight: 500;
      font-size: 25px;
      color: rgb(21, 218, 208);
      padding-right: 50px;
    }
  }
  & .navbar {
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
    }
    &__element {
      display: none;
      @media all and (min-width: 768px) {
      }
      @media all and (min-width: 1200px) {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        top: 20px;
        right: 200px;
      }
      &--text {
        // display: none;
        @media all and (min-width: 768px) {
          text-decoration: none;
          list-style-type: none;
        }
        @media all and (min-width: 1200px) {
          padding: 8px 16px;
          font-family: "Open Sans", sans-serif;
          font-size: 25px;
          color: rgb(226, 175, 128);
          text-decoration: none;
          list-style-type: none;
        }
      }
    }
  }
}
.page-contact .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media all and (min-width: 768px) {
  }
  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    height: 75px;
  }
  &__logo {
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 30px;
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
      top: 24px;
      left: 200px;
    }
  }
  &__title {
    display: none;
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
      position: absolute;
      left: 250px;
      top: 18px;
      display: inline-block;
      font-family: "Kiwi Maru", serif;
      font-weight: 500;
      font-size: 25px;
      color: rgb(21, 218, 208);
      padding-right: 50px;
    }
  }
  & .navbar {
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
    }
    &__element {
      display: none;
      @media all and (min-width: 768px) {
      }
      @media all and (min-width: 1200px) {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        top: 20px;
        right: 200px;
      }
      &--text {
        // display: none;
        @media all and (min-width: 768px) {
        }
        @media all and (min-width: 1200px) {
          padding: 8px 16px;
          font-family: "Open Sans", sans-serif;
          font-size: 25px;
          color: rgb(226, 175, 128);
        }
      }
    }
  }
}
.hamburger {
  position: absolute;
  left: 0;
  top: 15px;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media all and (min-width: 768px) {
    left: unset;
    right: 85px;
  }
  @media all and (min-width: 1200px) {
    display: none;
  }
}
.page-projects ._layer {
  background: rgb(21, 218, 208);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 38px;
  height: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.page-contact ._layer {
  background: rgb(255, 255, 255);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 38px;
  height: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.page-about ._layer {
  background: rgb(21, 218, 208);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 38px;
  height: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  @media all and (min-width: 768px) {
    margin-bottom: 8px;
    border-radius: 2px;
    width: 68px;
    height: 4px;
  }
  @media all and (min-width: 1200px) {
    //padding-top: 300px;
  }
}
.hamburger.is-active .-top {
  -webkit-transform: translateY(290%) rotate(45deg) !important;
  -ms-transform: translateY(290%) rotate(45deg) !important;
  transform: translateY(290%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-290%) rotate(135deg) !important;
  -ms-transform: translateY(-290%) rotate(135deg) !important;
  transform: translateY(-290%) rotate(135deg) !important;
}
.header__nav.is_active {
  transform: translate3d(0px, 0px, 0px);
}
.header__nav {
  position: absolute;
  top: 60px;
  left: 20px;
  transform: translate3d(0px, -180%, 0px);
  z-index: 1001;
  background-color: white;
  //opacity: 0.8;
  width: 180px;
  height: 218px;
  padding: 5px 0 0 10px;
  border-radius: 5px;
  border: solid 2px rgb(180, 180, 180);
  margin-top: 20px;
  @media all and (min-width: 768px) {
    background-color: transparent;
    border: none;
    left: unset;
    right: 85px;
    width: 200px;
  }
  @media all and (min-width: 1200px) {
    //padding-top: 300px;
  }
}
.header__nav ul li a {
  //font-family: "Kiwi Maru", serif;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: rgb(226, 175, 128);
  line-height: 50px;
  @media all and (min-width: 768px) {
    font-size: 40px;
    line-height: 60px;
  }
  @media all and (min-width: 1200px) {
  }
}
