.page-home {
  background-image: linear-gradient($main-color-blue, $main-color-orange 60%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.page__main {
  text-align: center;
  padding-top: 80px;
  height: 80%;
  @media all and (min-width: 600px) {
    padding-top: 124px;
  }
  @media all and (min-width: 768px) {
    padding-top: 170px;
  }
  @media all and (min-width: 1200px) {
    padding-top: 95px;
  }
  @media all and (min-width: 1366px) {
    padding-top: 80px;
  }
  @media all and (min-width: 1920px) {
    padding-top: 130px;
  }
}
.main__title {
  font-family: $font-title;
  font-size: 30px;
  font-weight: 500;
  color: $color-font-white;
  @media all and (min-width: 600px) {
    font-size: 38px;
  }
  @media all and (min-width: 768px) {
    font-size: 50px;
  }
  @media all and (min-width: 1200px) {
    font-size: 35px;
  }
  @media all and (min-width: 1366px) {
    font-size: 35px;
  }
  @media all and (min-width: 1920px) {
    font-size: 43px;
  }
  &--sub {
    font-family: $font-title;
    font-size: 25px;
    font-weight: 500;
    color: $color-text;
    padding-bottom: 50px;
    @media all and (min-width: 600px) {
      font-size: 30px;
      margin-bottom: 40px;
    }
    @media all and (min-width: 768px) {
      font-size: 38px;
      margin-bottom: 40px;
    }
    @media all and (min-width: 1200px) {
      font-size: 28px;
      margin-bottom: 50px;
    }
    @media all and (min-width: 1366px) {
      font-size: 28px;
      margin-bottom: 22px;
    }
    @media all and (min-width: 1920px) {
      font-size: 35px;
      margin-bottom: 60px;
    }
  }
}
.eye-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-items: center;
  }
  .eye {
    position: relative;
    text-align: center;
    &__down {
      font-family: $font-home;
      font-size: 92px;
      color: $color-font-white;
      margin: 0 10px 0 10px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
      cursor: pointer;
      @media all and (min-width: 600px) {
        font-size: 113px;
      }
      @media all and (min-width: 768px) {
        font-size: 150px;
        margin: 0 -5px 0 -5px;
      }
      @media all and (min-width: 1200px) {
        font-size: 100px;
        margin: 0 74px 0 74px;
      }
      @media all and (min-width: 1366px) {
        font-size: 100px;
        margin: 0 70px 0 70px;
      }
      @media all and (min-width: 1920px) {
        font-size: 130px;
        margin: 0 90px 0 90px;
      }
    }
    &__up {
      position: absolute;
      top: -60px;
      font-family: $font-home;
      font-size: 92px;
      margin: 0 10px 0 10px;
      color: $color-font-white;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
      cursor: pointer;
      @media all and (min-width: 600px) {
        top: -76px;
        font-size: 113px;
      }
      @media all and (min-width: 768px) {
        top: -107px;
        font-size: 150px;
        margin: 0 -5px 0 -5px;
      }
      @media all and (min-width: 1200px) {
        top: -78px;
        font-size: 100px;
        margin: 0 74px 0 74px;
      }
      @media all and (min-width: 1366px) {
        top: -70px;
        font-size: 100px;
        margin: 0 70px 0 70px;
      }
      @media all and (min-width: 1920px) {
        top: -100px;
        font-size: 130px;
        margin: 0 90px 0 90px;
      }
      &.up__left {
        animation-name: up-left;
        animation-duration: 4s;
        animation-iteration-count: 2s;
        animation-timing-function: linear;
        @keyframes up-left {
          0% {
            color: $color-font-white;
            opacity: 0;
          }
          15% {
            color: $color-font-white;
            opacity: 0;
          }
          25% {
            color: $color-font-white;
            opacity: 0;
          }
          35% {
            color: $color-font-white;
            opacity: 0;
          }
          55% {
            color: $color-font-white;
            opacity: 0.7;
          }
          65% {
            color: $color-font-white;
            opacity: 0.8;
          }
          100% {
            color: $color-font-white;
            opacity: 1;
          }
        }
      }
      &.up__right {
        animation-name: up-right;
        animation-duration: 7s;
        animation-iteration-count: 2s;
        animation-timing-function: linear;
        @keyframes up-right {
          0% {
            color: $color-font-white;
            opacity: 0;
          }
          15% {
            color: $color-font-white;
            opacity: 0;
          }
          25% {
            color: $color-font-white;
            opacity: 0;
          }
          35% {
            color: $color-font-white;
            opacity: 0;
          }
          55% {
            color: $color-font-white;
            opacity: 0.7;
          }
          65% {
            color: $color-font-white;
            opacity: 0.8;
          }
          100% {
            color: $color-font-white;
            opacity: 1;
          }
        }
      }
    }
    &__text {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      text-align: center;
      width: 95px;
      top: 20px;
      left: -28px;
      @media all and (min-width: 600px) {
        top: 24px;
        left: -39px;
      }
      @media all and (min-width: 768px) {
        top: 28px;
        left: -59px;
        width: 142px;
      }
      @media all and (min-width: 1200px) {
        top: 19px;
        left: 14px;
      }
      @media all and (min-width: 1366px) {
        top: 21px;
        left: 11px;
      }
      @media all and (min-width: 1920px) {
        top: 23px;
        left: 32px;
      }
      &--link {
        font-family: $font-title;
        font-size: 15px;
        font-weight: 500;
        color: $color-font-white;
        text-transform: uppercase;
        text-decoration: none;
        list-style-type: none;
        &:hover {
          color: $color-text;
        }
        @media all and (min-width: 600px) {
          font-size: 17px;
        }
        @media all and (min-width: 768px) {
          font-size: 21px;
        }
        @media all and (min-width: 1200px) {
          font-size: 14px;
        }
        @media all and (min-width: 1366px) {
          font-size: 14px;
        }
        @media all and (min-width: 1920px) {
          font-size: 18px;
        }
        &.text__left {
          animation-name: text-left;
          animation-duration: 5s;
          animation-iteration-count: 2s;
          animation-timing-function: linear;
          @keyframes text-left {
            0% {
              color: $color-font-white;
              opacity: 0;
            }
            15% {
              color: $color-font-white;
              opacity: 0;
            }
            25% {
              color: $color-font-white;
              opacity: 0;
            }
            35% {
              color: $color-font-white;
              opacity: 0;
            }
            55% {
              color: $color-font-white;
              opacity: 0.7;
            }

            70% {
              color: $color-font-white;
              opacity: 1;
            }
          }
        }
        &.text__right {
          animation-name: text-right;
          animation-duration: 8s;
          animation-iteration-count: 2s;
          animation-timing-function: linear;
          @keyframes text-right {
            0% {
              color: $color-font-white;
              opacity: 0;
            }
            15% {
              color: $color-font-white;
              opacity: 0;
            }
            25% {
              color: $color-font-white;
              opacity: 0;
            }
            35% {
              color: $color-font-white;
              opacity: 0;
            }
            55% {
              color: $color-font-white;
              opacity: 0.7;
            }
            70% {
              color: $color-font-white;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.nose {
  font-family: $font-title;
  display: inline-block;
  font-size: 30px;
  color: $color-font-white;
  margin-right: 11px;
  margin-top: -18px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  @media all and (min-width: 600px) {
    font-size: 40px;
  }
  @media all and (min-width: 768px) {
    font-size: 50px;
  }
  @media all and (min-width: 1200px) {
    font-size: 38px;
    margin-right: 5px;
  }
  @media all and (min-width: 1366px) {
    font-size: 38px;
    margin-right: 5px;
  }
  @media all and (min-width: 1920px) {
    font-size: 50px;
    margin-bottom: 35px;
    margin-right: 10px;
  }
}
.mouth-section {
  position: relative;
  text-align: center;
  top: -17px;
  left: 0;
  @media all and (min-width: 1200px) {
    top: -1px;
    left: -1px;
  }
  @media all and (min-width: 1920px) {
    top: -50px;
    left: -5px;
  }
  .mouth {
    font-family: $font-home;
    font-size: 110px;
    color: $color-font-white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    cursor: pointer;
    @media all and (min-width: 600px) {
      font-size: 125px;
    }
    @media all and (min-width: 768px) {
      font-size: 165px;
      margin-left: 7px;
    }
    @media all and (min-width: 1200px) {
      font-size: 130px;
    }
    @media all and (min-width: 1366px) {
      font-size: 115px;
    }
    @media all and (min-width: 1920px) {
      font-size: 150px;
    }
    &__text {
      font-family: $font-title;
      font-size: 15px;
      font-weight: 500;
      color: $color-font-white;
      text-transform: uppercase;
      position: absolute;
      text-align: center;
      width: 100%;
      left: -6px;
      top: 33px;
      text-decoration: none;
      list-style-type: none;
      animation-name: showText;
      animation-duration: 8s;
      animation-iteration-count: 2s;
      animation-timing-function: linear;
      @keyframes showText {
        0% {
          color: $color-font-white;
          opacity: 0;
        }
        15% {
          color: $color-font-white;
          opacity: 0;
        }
        25% {
          color: $color-font-white;
          opacity: 0;
        }
        55% {
          color: $color-font-white;
          opacity: 0;
        }
        65% {
          color: $color-font-white;
          opacity: 0.8;
        }
        80% {
          color: $color-font-white;
          opacity: 1;
        }
      }
      &:hover {
        color: $color-text;
      }
      @media all and (min-width: 600px) {
        left: -6px;
        top: 36px;
      }
      @media all and (min-width: 768px) {
        left: -4px;
        top: 54px;
      }
      @media all and (min-width: 1200px) {
        left: -2px;
        top: 39px;
      }
      @media all and (min-width: 1366px) {
        left: -3px;
        top: 27px;
      }
      @media all and (min-width: 1920px) {
        left: -2px;
        top: 42px;
      }
      &--link {
        @media all and (min-width: 600px) {
          font-size: 17px;
        }
        @media all and (min-width: 768px) {
          font-size: 21px;
        }
        @media all and (min-width: 1200px) {
          font-size: 16px;
        }
        @media all and (min-width: 1366px) {
          font-size: 14px;
        }
        @media all and (min-width: 1920px) {
          font-size: 18px;
        }
      }
    }
  }
}
