.page-home {
  //background-image: linear-gradient(rgb(21, 218, 158), rgb(240, 156, 77));
  background-image: linear-gradient(rgb(21, 218, 208), rgb(226, 175, 128) 60%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.page__main {
  text-align: center;
  padding-top: 100px;
  @media all and (min-width: 768px) {
    padding-top: 200px;
  }
  @media all and (min-width: 1200px) {
    padding-top: 300px;
  }
}

.eye-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  .eye {
    position: relative;
    &__down {
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      cursor: pointer;
      transition-property: font-size;
      transition-duration: 1ms;
      @media all and (min-width: 768px) {
        font-size: 130px;
      }
      @media all and (min-width: 1200px) {
        font-size: 160px;
      }
    }
    &__down:active {
      font-size: 97px;
      -webkit-transform: rotate(90deg);
    }
    &__up {
      position: absolute;
      top: -60px;
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      cursor: pointer;
      @media all and (min-width: 768px) {
        top: -84px;
        font-size: 130px;
      }
      @media all and (min-width: 1200px) {
        top: -122px;
        font-size: 160px;
      }
    }
    &__text {
      position: absolute;
      top: 15px;
      right: -5px;
      font-size: 18px;
      color: white;
      width: 68px;
      @media all and (min-width: 768px) {
        right: 8px;
        font-size: 20px;
      }
      @media all and (min-width: 1200px) {
        right: 32px;
        font-size: 30px;
      }
    }
    &.js-collapsed {
      .eye__up {
        display: none;
      }
      .eye__text {
        display: none;
      }
    }
  }
}

.nose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin-right: 20px;
  margin-top: -18px;
  -webkit-transform: rotate(90deg);
  @media all and (min-width: 768px) {
    font-size: 50px;
  }
  @media all and (min-width: 1200px) {
    font-size: 70px;
  }
}
.mouth {
  font-size: 100px;
  color: white;
  -webkit-transform: rotate(90deg);
  display: inline-block;
  @media all and (min-width: 768px) {
    font-size: 150px;
    margin-left: 7px;
  }
  @media all and (min-width: 1200px) {
    font-size: 180px;
    margin-left: 10px;
  }
}
