.page-home {
  //background-image: linear-gradient(rgb(21, 218, 158), rgb(240, 156, 77));
  //background-image: linear-gradient(rgb(21, 218, 208), rgb(212, 181, 206) 60%);
  background-image: linear-gradient(rgb(21, 218, 208), rgb(226, 175, 128) 60%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  // height: 100%;
  // min-height: 100vh;
}
.page__main {
  text-align: center;
  //padding-top: 120px;
  padding-top: 80px;
  height: 80%;
  @media all and (min-width: 768px) {
    padding-top: 170px;
  }
  @media all and (min-width: 1366px) {
    padding-top: 80px;
  }
  @media all and (min-width: 1920px) {
    padding-top: 100px;
  }
}
.main__title {
  font-family: "Kiwi Maru", serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
  @media all and (min-width: 768px) {
    font-size: 50px;
  }
  @media all and (min-width: 1366px) {
    font-size: 35px;
  }
  @media all and (min-width: 1920px) {
    font-size: 43px;
  }
  &--sub {
    font-family: "Kiwi Maru", serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(153, 151, 149);
    padding-bottom: 50px;
    @media all and (min-width: 768px) {
      font-size: 38px;
      margin-bottom: 70px;
    }
    @media all and (min-width: 1366px) {
      font-size: 28px;
      padding-bottom: 22px;
    }
    @media all and (min-width: 1920px) {
      font-size: 35px;
    }
  }
}
.eye-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  @media all and (min-width: 768px) {
    // font-size: 150px;
  }
  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .eye {
    position: relative;
    text-align: center;
    &__down {
      font-family: "Times New Roman", Times, serif;
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      cursor: pointer;
      @media all and (min-width: 768px) {
        font-size: 150px;
      }
      @media all and (min-width: 1366px) {
        font-size: 80px;
        margin: 0 80px 0 80px;
      }
      @media all and (min-width: 1920px) {
        font-size: 110px;
        margin: 0 90px 0 90px;
      }
    }
    &__up {
      position: absolute;
      top: -60px;
      font-family: "Times New Roman", Times, serif;
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      cursor: pointer;
      animation-name: textSize;
      animation-duration: 2s;
      animation-iteration-count: 2s;
      animation-timing-function: linear;
      @keyframes textSize {
        0% {
          color: white;
          opacity: 0;
        }
        15% {
          color: white;
          opacity: 0.15;
        }
        25% {
          color: white;
          opacity: 0.3;
        }
        50% {
          color: white;
          opacity: 0.5;
        }
        75% {
          color: white;
          opacity: 0.85;
        }
        100% {
          color: white;
          opacity: 1;
        }
      }
      @media all and (min-width: 768px) {
        top: -100px;
        font-size: 150px;
      }
      @media all and (min-width: 1366px) {
        font-size: 80px;
        margin: 0 80px 0 80px;
      }
      @media all and (min-width: 1920px) {
        font-size: 110px;
        margin: 0 90px 0 90px;
      }
    }
    &__text {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      text-align: center;
      width: 95px;
      top: 15px;
      left: -40px;
      font-family: "Kiwi Maru", serif;
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      list-style-type: none;
      animation-name: showText;
      animation-duration: 2s;
      animation-iteration-count: 2s;
      animation-timing-function: linear;
      @keyframes showText {
        0% {
          color: white;
          opacity: 0;
        }
        15% {
          color: white;
          opacity: 0.15;
        }
        25% {
          color: white;
          opacity: 0.3;
        }
        50% {
          color: white;
          opacity: 0.5;
        }
        75% {
          color: white;
          opacity: 0.85;
        }
        100% {
          color: white;
          opacity: 1;
        }
      }
      @media all and (min-width: 768px) {
        left: -60px;
        font-size: 20px;
        width: 142px;
        //text-overflow: ;
      }
      @media all and (min-width: 1366px) {
        //font-size: 16px;
      }
      @media all and (min-width: 1920px) {
        top: 0;
        left: 29px;
      }
      &--link {
        // text-align: center;
        @media all and (min-width: 768px) {
          //margin: 0 0 5px 6px;
        }
        @media all and (min-width: 1366px) {
          font-size: 16px;
        }
        @media all and (min-width: 1920px) {
          font-size: 18px;
        }
      }
    }
    &.js-collapsed {
      .eye__down {
        animation-name: borderEyes;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @keyframes borderEyes {
          0% {
            -webkit-text-stroke: 2px rgb(255, 255, 255);
          }
          15% {
            -webkit-text-stroke: 2px rgb(174, 240, 236);
          }
          25% {
            -webkit-text-stroke: 2px rgb(128, 226, 221);
          }
          50% {
            -webkit-text-stroke: 2px rgb(21, 218, 208);
          }
          75% {
            -webkit-text-stroke: 2px rgb(128, 226, 221);
          }
          88% {
            -webkit-text-stroke: 2px rgb(174, 240, 236);
          }
          100% {
            -webkit-text-stroke: 2px rgb(255, 255, 255);
          }
        }
      }
      .mouth {
        animation-name: borderMouth;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @keyframes borderMouth {
          0% {
            -webkit-text-stroke: 2px rgb(255, 255, 255);
          }
          15% {
            -webkit-text-stroke: 2px rgb(174, 240, 236);
          }
          25% {
            -webkit-text-stroke: 2px rgb(128, 226, 221);
          }
          50% {
            -webkit-text-stroke: 2px rgb(21, 218, 208);
          }
          75% {
            -webkit-text-stroke: 2px rgb(128, 226, 221);
          }
          88% {
            -webkit-text-stroke: 2px rgb(174, 240, 236);
          }
          100% {
            -webkit-text-stroke: 2px rgb(255, 255, 255);
          }
        }
      }
    }
  }
}
.js-collapsed {
  > :not(.js-toggle) {
    display: none !important;
  }
}
.nose {
  font-family: "Kiwi Maru", serif;
  display: inline-block;
  font-size: 30px;
  color: white;
  margin-right: 20px;
  margin-top: -18px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  @media all and (min-width: 768px) {
    font-size: 50px;
  }
  @media all and (min-width: 1366px) {
    font-size: 38px;
  }
  @media all and (min-width: 1920px) {
    font-size: 50px;
    margin-bottom: 35px;
  }
}
.mouth-section {
  position: relative;
  text-align: center;
  .mouth {
    font-family: "Times New Roman", Times, serif;
    font-size: 100px;
    color: white;
    top: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    display: inline-block;
    cursor: pointer;
    @media all and (min-width: 768px) {
      font-size: 150px;
      margin-left: 7px;
    }
    @media all and (min-width: 1366px) {
      font-size: 80px;
    }
    @media all and (min-width: 1920px) {
      font-size: 150px;
    }
    &__text {
      font-family: "Kiwi Maru", serif;
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      position: absolute;
      text-align: center;
      width: 100%;
      left: -9px;
      top: 15px;
      text-decoration: none;
      list-style-type: none;
      animation-name: showText;
      animation-duration: 2s;
      animation-iteration-count: 2s;
      animation-timing-function: linear;
      @keyframes showText {
        0% {
          color: white;
          opacity: 0;
        }
        15% {
          color: white;
          opacity: 0.15;
        }
        25% {
          color: white;
          opacity: 0.3;
        }
        50% {
          color: white;
          opacity: 0.5;
        }
        75% {
          color: white;
          opacity: 0.85;
        }
        100% {
          color: white;
          opacity: 1;
        }
      }
      @media all and (min-width: 768px) {
        font-size: 20px;
      }
      @media all and (min-width: 1200px) {
        top: 0;
      }
      &--link {
        @media all and (min-width: 768px) {
          //font-size: 20px;
        }
        @media all and (min-width: 1200px) {
          font-size: 18px;
        }
      }
    }
  }
  &.js-collapsed {
    .mouth {
      animation-name: borderEyes;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @keyframes borderEyes {
        0% {
          -webkit-text-stroke: 2px rgb(255, 255, 255);
        }
        15% {
          -webkit-text-stroke: 2px rgb(174, 240, 236);
        }
        25% {
          -webkit-text-stroke: 2px rgb(128, 226, 221);
        }
        50% {
          -webkit-text-stroke: 2px rgb(21, 218, 208);
        }
        75% {
          -webkit-text-stroke: 2px rgb(128, 226, 221);
        }
        88% {
          -webkit-text-stroke: 2px rgb(174, 240, 236);
        }
        100% {
          -webkit-text-stroke: 2px rgb(255, 255, 255);
        }
      }
    }
  }
}
