.page-home {
  //background-image: linear-gradient(rgb(21, 218, 158), rgb(240, 156, 77));
  //background-image: linear-gradient(rgb(21, 218, 208), rgb(212, 181, 206) 60%);
  background-image: linear-gradient(rgb(21, 218, 208), rgb(226, 175, 128) 60%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.page__main {
  text-align: center;
  padding-top: 180px;
  @media all and (min-width: 768px) {
    padding-top: 300px;
  }
  @media all and (min-width: 1200px) {
    padding-top: 300px;
  }
}
.main__title {
  font-family: "Kiwi Maru", serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
  padding-bottom: 50px;
  @media all and (min-width: 768px) {
    font-size: 60px;
  }
  @media all and (min-width: 1200px) {
    padding-top: 300px;
  }
}
.eye-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  .eye {
    position: relative;
    &__down {
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      cursor: pointer;
      animation-name: borderEyes;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @keyframes borderEyes {
        0% {
          -webkit-text-stroke: 2px rgb(255, 255, 255);
        }
        15% {
          -webkit-text-stroke: 2px rgb(174, 240, 236);
        }
        25% {
          -webkit-text-stroke: 2px rgb(128, 226, 221);
        }
        50% {
          -webkit-text-stroke: 2px rgb(21, 218, 208);
        }
        75% {
          -webkit-text-stroke: 2px rgb(128, 226, 221);
        }
        88% {
          -webkit-text-stroke: 2px rgb(174, 240, 236);
        }
        100% {
          -webkit-text-stroke: 2px rgb(255, 255, 255);
        }
      }
      @media all and (min-width: 768px) {
        font-size: 200px;
      }
      @media all and (min-width: 1200px) {
        font-size: 160px;
      }
    }
    // &__down:active {
    //   font-size: 97px;
    //   -webkit-transform: rotate(90deg);
    // }
    &__up {
      position: absolute;
      top: -60px;
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      cursor: pointer;
      animation-name: textSize;
      animation-duration: 2s;
      animation-iteration-count: 2s;
      animation-timing-function: linear;
      @keyframes textSize {
        0% {
          color: white;
          opacity: 0;
        }
        15% {
          color: white;
          opacity: 0.15;
        }
        25% {
          color: white;
          opacity: 0.3;
        }
        50% {
          color: white;
          opacity: 0.5;
        }
        75% {
          color: white;
          opacity: 0.85;
        }
        100% {
          color: white;
          opacity: 1;
        }
      }
      @media all and (min-width: 768px) {
        top: -84px;
        font-size: 130px;
      }
      @media all and (min-width: 1200px) {
        top: -122px;
        font-size: 160px;
      }
    }
    &__text {
      position: absolute;
      top: 15px;
      //right: 5px;
      right: -9px;
      font-family: "Kiwi Maru", serif;
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      // width: 68px;
      width: 77px;
      animation-name: showText;
      animation-duration: 2s;
      animation-iteration-count: 2s;
      animation-timing-function: linear;
      @keyframes showText {
        0% {
          color: white;
          opacity: 0;
        }
        15% {
          color: white;
          opacity: 0.15;
        }
        25% {
          color: white;
          opacity: 0.3;
        }
        50% {
          color: white;
          opacity: 0.5;
        }
        75% {
          color: white;
          opacity: 0.85;
        }
        100% {
          color: white;
          opacity: 1;
        }
      }
      @media all and (min-width: 768px) {
        right: 8px;
        font-size: 20px;
      }
      @media all and (min-width: 1200px) {
        right: 32px;
        font-size: 30px;
      }
    }
    &.js-collapsed {
      .eye__up {
        display: none;
      }
      .eye__text {
        display: none;
      }
    }
  }
}

.nose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin-right: 20px;
  margin-top: -18px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  @media all and (min-width: 768px) {
    font-size: 60px;
  }
  @media all and (min-width: 1200px) {
    font-size: 70px;
  }
}
.mouth {
  font-size: 100px;
  color: white;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  display: inline-block;
  @media all and (min-width: 768px) {
    font-size: 200px;
    margin-left: 7px;
  }
  @media all and (min-width: 1200px) {
    font-size: 180px;
    margin-left: 10px;
  }
}
