body {
  //background-image: linear-gradient(rgb(21, 218, 158), rgb(240, 156, 77));
  background-image: linear-gradient(rgb(21, 218, 208), rgb(226, 175, 128) 60%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.page__main {
  text-align: center;
  padding-top: 100px;
}

.eye-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  .eye {
    position: relative;
    &__down:active {
      transform: scale(1.5, 1.5);
    }
    &__down {
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      cursor: pointer;
      transition-property: font-size;
      transition-duration: 1s;
    }
    &__down:active {
      font-size: 80px;
      -webkit-transform: rotate(90deg);
    }
    &__up {
      position: absolute;
      top: -60px;
      font-size: 100px;
      color: white;
      -webkit-transform: rotate(90deg);
      cursor: pointer;
    }
    &__text {
      position: absolute;
      top: 15px;
      right: -5px;
      font-size: 18px;
      color: white;
      width: 68px;
    }
    &.js-collapsed {
      .eye__up {
        display: none;
      }
      .eye__text {
        display: none;
      }
    }
  }
}

.nose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin-right: 20px;
  margin-top: -18px;
  -webkit-transform: rotate(90deg);
}
.mouth {
  font-size: 100px;
  color: white;
  -webkit-transform: rotate(90deg);
  display: inline-block;
}
