@import "core/variables";
@import "core/reset";
@import "core/mixins";
@import "layout/main-home";
@import "layout/header";
@import "layout/footer";
@import "pages/index";
@import "pages/about";
@import "pages/projects";
@import "pages/contact";
